<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forgot Password</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- Temporary fix for navbar responsiveness -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    label{
    	font-weight: bold;
    }
    .btn{
    margin:15px
    }
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>
<!-- jQuery Version 3.1.1 -->
    <script src="js/jquery.js"></script>

    <!-- Tether -->
    <script src="js/tether.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>

   
   <!-- Page Content -->
    <div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Forgot Password</h1><br>
        
	<!-- Edit Profile FORM -->
	<form action="/forgotPassword" method="post">

		<div class="form-group">
			<label>Enter email address</label>
			<input type="text" class="form-control" name="email">
		</div>

		
		
		<div align="center">
		<button type="resetPassword" class="btn btn-warning btn-lg">Reset Password</button>
       </div>
	</form>
    </div>
    <br>
   
</body>
</html>