<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reset Password</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- Temporary fix for navbar responsiveness -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    label{
    	font-weight: bold;
    }
    .btn{
    margin:15px
    }
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
      .container{
      margin-left:50px;
      margin-top:50px;}
      
      .btn-warning{color:#fff;background-color:#f0ad4e;border-color:#f0ad4e}.btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#eb9316}.btn-warning.focus,.btn-warning:focus{-webkit-box-shadow:0 0 0 2px rgba(240,173,78,.5);box-shadow:0 0 0 2px rgba(240,173,78,.5)}.btn-warning.disabled,.btn-warning:disabled{background-color:#f0ad4e;border-color:#f0ad4e}.btn-warning.active,.btn-warning:active,.show>.btn-warning.dropdown-toggle{color:#fff;background-color:#ec971f;background-image:none;border-color:#eb9316}
      .btn-lg{padding:.75rem 1.5rem;font-size:1.25rem;border-radius:.3rem}
      
    </style>

<!-- jQuery Version 3.1.1 -->
    <script src="js/jquery.js"></script>

    <!-- Tether -->
    <script src="js/tether.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
   
   <!-- Page Content -->
    <div class="container">
<div class="box">
    <!-- Page Heading -->
    <h1 class="my-4">Reset Password</h1><br>
        
	<!-- Edit Profile FORM -->
	<form action="" method="post">

		<div class="form-group">
			<label>Enter New Password &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; </label>
			<input type="text" class="form-control" name="password" size="30">
		</div>
      <br>
        	<div class="form-group">
			<label>Confirm New Password &nbsp; &nbsp; &nbsp;</label>
			<input type="text" class="form-control" name="confpassword" size="30">
		</div>
		<br>
		<div align="center">
		<button type="resetPassword" class="btn btn-warning btn-lg">Reset Password</button>
       </div>
	</form>
    </div>
    <br>
</body>
</html>