<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:50px; }
		.btn{width:388px;height:40px}
		.box{ width: 450px;height: 900px;border: 1px solid lightgrey;border-radius:5px;padding:30px;margin-bottom:25px}
		p{text-align:center}
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
<div class="box">
	<h1>Signup</h1>
	<br>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">

		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="firstName" value ="">
		</div>

		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lastName">
		</div>
	
		 <td><label for="preferences">News Preferences:</label></td>
                             <td>
							 <br /> 
                             <input type="checkbox" name="faith" value="Faith"> Beat Goes On<br>
  							 <input type="checkbox" name="politics" value="Politics"> Politics<br>
  							 <input type="checkbox" name="opinion" value="Opinion"> Opinion<br>
  							 <input type="checkbox" name="health" value="Health"> Health<br>
  							 <input type="checkbox" name="entertainment" value="Entertainment"> Entertainment<br>
  							 <input type="checkbox" name="travel" value="Travel"> Travel<br>
							 <input type="checkbox" name="sport" value="Sport"> Sports<br>
  							 <input type="checkbox" name="tech" value="Tech"> Tech<br>
							    <br /> 
                            </td>
                      	</tr>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email"  >
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" >
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="conpassword">
		</div>
		<br>
		<button type="submit" class="btn btn-warning btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <br><a href="/login">Login</a> or go to <a href="/">Home</a>.</p>

</div>
</div>
</div>
</body>
</html>